.turbo-progress-bar {
    background-color: yellowgreen;
}

.li-menu{
    @apply hover:text-green-100 hover:bg-blue-300 rounded-lg py-1;
}

.a-menu{
    @apply w-auto flex flex-col justify-center items-center;
}

.a-hover:hover{
    @apply text-green-100;
}

.a-active{
    @apply text-green-100;
}

.bg-about{
    background-image: url(../../public/images/bg-about.webp);
    background-repeat: repeat;
    background-position: center;
}

.filter-graycale-1{
    filter: grayscale(100%);
}

.filter-graycale-1:hover{
    filter: none;
}